*{
  margin:0;
}

.todo-container {
  margin:2em auto auto auto;
  background-color: rgb(138, 138, 236);
  display:flex;
  flex-direction:column;
  width: 30em;
  padding: 0.5em
}

.add-form {
  display: flex;
  width:30em;
  margin: 2em auto auto auto;
  padding: 1em;
  background-color: rgb(130, 130, 231);
  flex-direction: column;
}

.add-form > input {
  margin-bottom:1em;
}

.add-form > button {
  width:5em;
  margin:auto auto auto auto;
}